<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b7ac808b-02b5-4e99-883a-c87152aa90cd/resourceGroups/DotNetMastery_Course/providers/Microsoft.Web/sites/BulkyBook-rufat</ResourceId>
    <ResourceGroup>DotNetMastery_Course</ResourceGroup>
    <ApiResourceId>/subscriptions/b7ac808b-02b5-4e99-883a-c87152aa90cd/resourceGroups/DotNetMastery_Course(CentralPOland)/providers/Microsoft.ApiManagement/service/BulkyBookWEBapi/apis/BulkyBookWEB</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://bulkybook-rufat.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>202940ef-f852-466f-8e3c-cc2c334e193a</ProjectGuid>
    <MSDeployServiceURL>bulkybook-rufat.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BulkyBook-rufat</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$BulkyBook-rufat</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <TargetFramework>net6.0</TargetFramework>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
  </PropertyGroup>
</Project>